<main class="container">
    @if(data().totalQuantities){
    <section>
        <h1>Your Cart</h1>
        <button type="button" (click)="resetCart()">Delete all ({{data().totalQuantities}})</button>
    </section>
    <div [class.cart-fill-row]="data().items.length === 1">
        <cart-product-list [data]="data().items" />
        <section>
            <div>
                <span>Subtotal</span>
                <span>{{data().totalAmount| currency}}</span>
            </div>
            <div>
                <span>Delivery Fee</span>
                <span>Free</span>
            </div>
            <div class="cart-total">
                <span>Total</span>
                <span>{{data().totalAmount| currency}}</span>
            </div>
            <button type="button" (click)="checkout()" [disabled]="isLoading">
                @if(isLoading){
                Loading...
                }@else {
                Pay {{data().totalAmount| currency}}
                }
            </button>
            <!-- <button type="button" (click)="checkout()">Pay {{data().totalAmount| currency}}</button> -->
        </section>
    </div>
    } @else {
    <div class="cart-empty">
        <p>Your shopping cart is empty.</p>
        <a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            ariaCurrentWhenActive="page">Shop</a>
    </div>
    }
</main>