.products {
    padding-top: 3rem;
    padding-bottom: 6rem;

    section {
        h1 {
            margin-bottom: 1rem;
        }
    }
}

.cart-toast {
    position: fixed;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    font-size: 14px;
    display: flex;
    padding: 0.5rem;
    border-radius: .5rem;
    gap: .5rem;
    align-items: center;
    width: 100%;
    max-width: max-content;
    transition: .3s;

    a {
        text-decoration: none;
        border: 1px solid #fff;
        color: #fff;
        padding: .3rem .4rem;
        border-radius: .4rem;
        transition: .1s;
        font-size: 13px;
        margin-left: auto;

        &:hover {
            background-color: #fff;
            color: #000;
        }

    }

    .my-icon {
        width: 20px;
        height: 20px;
    }

    &-show {
        bottom: 1rem;
    }
}